.cell {
	position: fixed;
	background-size: contain;
	background-repeat: no-repeat; 
	background-position: center;
}

.cell-text {
	color: white;
}

#title {
	font-size: 20pt;
	left: 0;
	width: 50%;
	top: 0;
	height: 5%;
	color: white;
}

#password {
	font-size: 20pt;
	left: 50%;
	width: 50%;
	top: 0;
	height: 5%;
	color: white;
	float: right;
}